@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Museu</title>
    <!--<link href="Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css"/>-->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("eMuseu", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            Espólio
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Listar Espólio", "Index", "Pecas")</li>

                        </ul>
                    </li>
                    @if (Request.IsAuthenticated && User.IsInRole("registado"))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                Empréstimos
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Pedir Empréstimo", "Create", "Concursoes")</li>
                                <li>@Html.ActionLink("Historial de Empréstimos", "Create", "Concursoes")</li>
                            </ul>
                        </li>
                    }
                    @if (Request.IsAuthenticated && User.IsInRole("administrador"))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                Registos
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Utilizadores ativos", "ListaUsers", "Account")</li>
                                <li>@Html.ActionLink("Aprovação de Perfis", "ListaPorAprovar", "Account")</li>
                                <li>@Html.ActionLink("Aprovação de Empréstimos", "Create", "Concursoes")</li>
                                <li>@Html.ActionLink("Roles existentes", "Index", "Role")</li>
                                <li>@Html.ActionLink("Criar Role", "Create", "Role")</li>
                            </ul>
                        </li>
                    }

                    @if (Request.IsAuthenticated && (User.IsInRole("registado") || User.IsInRole("especialista")))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                Mensagens
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Escrever Mensagem", "Create", "Mensagems")</li>
                                <li>@Html.ActionLink("Caixa de Entrada", "Index", "Mensagems")</li>
                                <li>@Html.ActionLink("Mensagens Enviadas", "IndexEnviadas", "Mensagems")</li>
                            </ul>
                        </li>
                    }
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            Informações
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Contactos", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Horário", "Horario", "Home")</li>
                            <li>@Html.ActionLink("Sobre Nós", "About", "Home")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year eMuseu</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
