@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eMuseu</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> <!-- Import redundante do jquery -->
    <script type="text/javascript">
        var imageCount = 1;
        var total = 5;

        function slide(x) {
            var image = document.getElementById('image');
            imageCount = imageCount + x;
            if (imageCount > total) { imageCount = 1; }
            if (imageCount < 1) { imageCount = total; }
            image.src = "/Imagens/Slides/img" + imageCount + ".jpg";
            clearInterval(time); 								// clear interval stops the set interval.
            time = window.setInterval(function photoA() { 		// givig the value of time the samfunction below starts the loop
                var image = document.getElementById('image');
                imageCount = imageCount + 1;
                if (imageCount > total) { imageCount = 1; }
                if (imageCount < 1) { imageCount = total; }

                image.src = "/Imagens/Slides/img" + imageCount + ".jpg";
            }, 5500);
        }

        var time = window.setInterval(function photoA() {    // just addign the function to the variable so you can target it.
            var image = document.getElementById('image');
            imageCount = imageCount + 1;
            if (imageCount > total) { imageCount = 1; }
            if (imageCount < 1) { imageCount = total; }
            image.src = "/Imagens/Slides/img" + imageCount + ".jpg";
        }, 5500);

        if (!window.jQuery) {
            document.write('<script src="Scripts/jquery-3.1.1.min.js"><\/script>');
        }
    </script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/Home/Index"><img src="/Imagens/Logo.png" class="navbar-brand"/></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            Espólio
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Listar Espólio", "Index", "Pecas")</li>
                            @if (Request.IsAuthenticated && (User.IsInRole("especialista") || User.IsInRole("administrador")))
                            {
                                <li>@Html.ActionLink("Criar Peça", "Create", "Pecas")</li>
                            }
                        </ul>
                    </li>
                    @if (Request.IsAuthenticated && (User.IsInRole("registado") || User.IsInRole("administrador")))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                Emprestimos
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                @if (Request.IsAuthenticated && User.IsInRole("administrador"))
                                {
                                    <li>@Html.ActionLink("Emprestimos", "Index", "Emprestimos")</li>
                                }
                                @if (Request.IsAuthenticated && (User.IsInRole("registado")))
                                {
                                    <li>@Html.ActionLink("Emprestimos", "IndexPessoal", "Emprestimos")</li>
                                    <li>@Html.ActionLink("Pedir Emprestimo", "Create", "Emprestimos")</li>
                                }
                            </ul>
                        </li>
                    }

                    @if (Request.IsAuthenticated && User.IsInRole("administrador"))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                Registos
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Utilizadores ativos", "ListaUsers", "Account")</li>
                                <li>@Html.ActionLink("Aprovação de Perfis", "ListaPorAprovar", "Account")</li>
                                <li>@Html.ActionLink("Aprovação de Empréstimos", "Create", "Concursoes")</li>
                                <li>@Html.ActionLink("Roles existentes", "Index", "Role")</li>
                                <li>@Html.ActionLink("Criar Role", "Create", "Role")</li>
                            </ul>
                        </li>
                    }

                    @if (Request.IsAuthenticated && (User.IsInRole("registado") || User.IsInRole("especialista")))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                Mensagens
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Escrever Mensagem", "Create", "Mensagems")</li>
                                <li>@Html.ActionLink("Caixa de Entrada", "Index", "Mensagems")</li>
                                <li>@Html.ActionLink("Mensagens Enviadas", "IndexEnviadas", "Mensagems")</li>
                            </ul>
                        </li>
                    }
                    @if (Request.IsAuthenticated && (User.IsInRole("administrador") || User.IsInRole("especialista")))
                    {
                        <li>
                            @Html.ActionLink("Tratamentos", "Index", "Tratamentos")
                        </li>
                    }
                    @if (Request.IsAuthenticated && User.IsInRole("especialista"))
                    {
                        <li>
                            @Html.ActionLink("Rececoes", "Index", "Rececoes")
                        </li>
                    }
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            Informações
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Contactos", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Horário", "Horario", "Home")</li>
                            <li>@Html.ActionLink("Sobre Nós", "About", "Home")</li>
                        </ul>
                    </li>
                </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year eMuseu</p>
        <a href="https://www.facebook.com/Funda%C3%A7%C3%A3o-Bissaya-Barreto-152838224772751/"><img src="/Imagens/Facebook.png" id="Face" /></a>
        <a href="https://twitter.com/triatloaasm"><img src="/Imagens/Twitter.png" id="Twitter" /></a>
    </footer>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
