@model eMuseu.Models.Rececao

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rececao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.formulario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.formulario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.antes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.antes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.depois)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.depois)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cumprimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cumprimento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.rececaoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
