@model eMuseu.Models.Emprestimo

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.data_inicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_inicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data_fim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_fim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.validado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.validado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.devolvido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.devolvido)
        </dd>

    </dl>
</div>