@model IEnumerable<eMuseu.Models.ApplicationUser>

@{
    ViewBag.Title = "ListaPorAprovar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListaPorAprovar</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Morada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.aprovado)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (!item.aprovado)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.NomeP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeU)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Morada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.aprovado)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Account", new { id = item.Id })
                </td>
            </tr>
            }
        }

</table>
